logo {
    display: flex;
        width: 44px;
        height: 21px;
        flex-direction: column;
        justify-content: center;
    color: var(--iris, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}